.header{
    display: grid;
    grid-column-gap: 50% 50%;
  }
  .bg{
    background-image: url("https://pbs.twimg.com/profile_images/1052503086118461440/zdaKrXwO.jpg");
    background-size: 100%;
  }
  .box1{
    grid-column-start: 1;
    grid-column-end: 2;
  }
  .logo{
    display: grid;
    grid-column-gap: 0px;
    grid-template-columns: 0px 300px;
  }

  .box2{
    grid-column-start: 5;
    grid-column-end: 6;
  }
  .logoText{
      color: chocolate;
      font-weight: 700;
      font-size: 20px;
      
  }
  .call{
      color: darkgrey;
      font-weight: bold;
      font-size: 20px;
      text-align: center;
      
  }
 .num1{
    font-weight: 1000;
    font-size: 40px;
    text-align: center;
  }

  .num2{
    font-weight: 1000;
    font-size: 40px;
    text-align: center;
  }
  .headerContainer{
    background-color: rgba(255, 255, 255, 0.63);
    
  }
  .topic{
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    margin: auto;
  }
  .nextText{
    font-weight: 500;
    font-size: 35px;
    text-align: center;
    margin: auto;
  }
.container{
    display: grid;
    grid-column-gap: auto auto auto auto
}
.g1{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 5;
    grid-row-end: 7;
    background-color: rgb(247, 246, 243);
    font-weight: 500;
    font-size: 30px;
    text-align: center;
    margin: auto;
    display: grid;
    grid-column-gap: 70% 30%;
    grid-row: 100%;
}
.gc1{
grid-row-start: 1;
grid-row-end: 2;
grid-column-start: 1;
grid-column-end: 3;
}
.gc2{
grid-row-start: 2;
grid-row-end: 3;
grid-column-start: 1;
grid-column-end: 3;
}
.gc3{
grid-column-start: 3;
grid-column-end: 4;
grid-row-start: 1;
grid-row-end: 4;
}
.g2{
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 7;
    text-align: center;
    background: linear-gradient(45deg, #EECFBA, #C5DDE8);
    border-radius: 5px;
    width: 350px;
}
.btnk{
    font-weight: 500;
}
.zayavka{
    font-weight: 500;
}